.accordion__marker {
  position: absolute;
  top: 50%;
  right: 150px;
  width: 64px;
  height: 64px;
  display: block;
}

.accordion__close {
  background: url('../img/accordion_button.png') no-repeat center;
  transform: translateY(-50%);
}

.accordion__open {
  background: url('../img/accordion_button.png') no-repeat center;
  transform:  translateY(-50%) rotate(-90deg);
  transform-origin: 50% 50%;
}

.accordion {
  width: 100%;
  background: $skin;
}

.accordion__title {
  line-height: 180px;
  font-size: 55px;
  margin: auto;
  width: 100%;
  text-align: center;
}

.panel {
  box-shadow: none;
}

.panel-group {
  margin-bottom: 0;
}

.panel-default {
  border: none;
}

.panel-default>.panel-heading {
  border: none;
  background-color: transparent;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel+.panel {
  margin-top: 0;
}

.panel-title {
  font-size: 55px;
  color: $white;
}

.panel-title > a {
  line-height: 104px;
  width: 100%;
  display: block;
  padding-right: 248px;
  position: relative;
}

.panel-heading {
  padding: 0 15px;
}

.panel__green {
  background: $green-button;
}

.panel__pink {
  background: $pink;
}

.panel__blue {
  background: $blue1;
}

.panel__orange {
  background: $orange;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 0;
}

/*accordeon-inner*/
.accordion__inner .panel-default > .panel-heading {
  padding: 0;
}

.accordion__inner .accordion__marker {
  right: 0;
  width: 64px;
  height: 100%;
  background-size: auto 80%;
  background-position: 100% center;
}

.accordion__inner .accordion__open {
  background-position: center 100%;
}

.accordion__inner .accordion__close {
  background-position: 100% center;
}

.accordion__inner .panel-title > a {
  padding-right: 90px;
  font-size: 40px;
  line-height: 58px;
  color: $text-color;
}

.accordion__inner .panel-title > a:hover {
  text-decoration: underline;
}

.accordion__inner .panel {
  border-bottom: 2px solid $white;
}

.accordion__inner .panel:first-child {
  border-top: 2px solid $white;
}

@media (max-width: $l) { // 992-1280px

}

@media (max-width: $m) { // 769-991px
  .accordion__marker {
    right: 15px;
  }

  .panel-title {
    font-size: 40px;
  }

  .panel-title > a {
    padding-right: 100px;
  }
}


@media (max-width: $s) { // 480-768px
  .panel-title {
    @include mobileTitle();
  }

  .accordion__title {
    @include mobileTitle();
    line-height: 100px;
  }

  /*accordeon-inner*/
  .accordion__inner .panel-title > a {
    padding-right: 70px;
    font-size: 16px;
    line-height: 35px;
  }

  .accordion__inner .accordion__marker {
    width: 35px;
  }
}

@media (max-width: $xs) { // 375-480px
  .accordion__title {
    line-height: 42px;
  }

  .panel-title > a {
    padding-right: 25px;
    line-height: 28px;
  }

  .accordion__marker {
    width: 14px;
    height: 14px;
    right: 0;
  }

  .accordion__close {
    background: url('../img/accordion_button.png') no-repeat center;
    background-size: 100%;
  }

  .accordion__open {
    background: url('../img/accordion_button.png') no-repeat center;
    background-size: 100%;
  }
}