.contact-form {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 50px 130px 90px 130px;
}

.contact-form__desc {
  @include opensans(400, 25px, $text-color);
}

.contact-form__map {
  width: 470px;
  height: 100px;
  background-color: #1b6d85;
}

.contact-form__title {
  @include opensans(400, 40px, $text-color);
  direction: rtl;
}

@media (max-width: 992px) {
  .contact-form__title {
    font-size: 35px;
  }

  .contact-form__desc {
    @include opensans(400, 22px, $text-color);
  }
}

@media (max-width: 768px) {
  .contact-form__title {
    font-size: 25px;
  }

  .contact-form__desc {
    @include opensans(400, 18px, $text-color);
  }
}