
.header {
  position: relative;
}

.header__bg {
  width: 100%;
  height: auto;
}

.header__text-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  background: $green-header;
  color: $white;
  font-weight: bold;
  font-size: 40px;
  padding: 50px 60px;
  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
}

.logo-block {
  position: absolute;
  top: 0;
  left: 50%;
  width: 298px;
  height: 300px;
  transform: translate(-50%, 0);
  font-size: 0;

}

.logo-block__left-text {
  @include inlineCenter();
  color: $text-color;
  width: 50%;
  font-size: 28px;
  line-height: 50px;
  background: $blue1;
}

.logo-block__right-text {
  @include inlineCenter();
  color: $text-color;
  width: 50%;
  font-size: 28px;
  line-height: 50px;
  background: $blue2;
}

.logo-block__logo {
  display: block;
  position: relative;
  background-image: url('../img/logo.png');
  height: 248px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.header__menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 256px;
  height: 220px;
  background: url('../img/burger-nav.png') no-repeat center;
}

.header__txt {
  position: absolute;
  top: 290px;
  left: 50%;
  transform: translate(-50%, 0);
  color: $white;
  text-align: center;
}

.header__txt-first {
  display: inline-block;
  font-size: 73px;
  line-height: 74px;
  border-bottom: 3px solid $white;
  margin: 0;
}

.header__txt-second {
  font-size: 88px;
  line-height: 103px;
  margin: 0;
}

.header__txt-third {
  font-size: 79px;
  line-height: 80px;
  margin: 0;
}


@media (max-width: $l) { // 992-1280px
  .header__txt-first {
    font-size: 53px;
    line-height: 64px;
   }

  .header__txt-second {
    font-size: 60px;
    line-height: 60px;
  }

  .header__txt-third {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (max-width: $m) { // 769-991px
  .header__text-left {
    width: 20%;
    font-size: 25px;
    padding: 20px 4.5%;
    line-height: normal;
  }

  .logo-block {
    width: 30%;
  }

  .header__menu {
    width: 20%;
    height: 176px;
  }

  .logo-block__logo {
    display: none;
  }

  .header__txt {
    top: 93px;
  }
}


@media (max-width: $s) { // 375-768px
  .header__text-left {
    width: 55px;
    font-size: 10px;
    padding: 7.5px 10px;
    line-height: 10px;
  }

  .logo-block {
    width: 130px;
  }

  .logo-block__left-text {
    font-size: 18px;
    line-height: 26px;
  }

  .logo-block__right-text {
    font-size: 18px;
    line-height: 26px;
  }

  .header__menu {
    width: 55px;
    height: 55px;
    background-size: cover;
  }

  .header__txt {
    top: 12vw;
  }

  .header__txt-first {
    font-size: 27px;
    line-height: 27px;
  }

  .header__txt-second {
    font-size: 32px;
    line-height: 32px;
  }

  .header__txt-third {
    font-size: 29px;
    line-height: 29px;
  }
}