
.header {
  position: relative;
}

.header__bg {
  width: 100%;
  height: auto;
}

.header__text-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 13%;
  height: 20%;
  line-height: 100%;
  background: rgba(170, 194, 44, 0.7);
  color: white;
  font-weight: bold;
  font-size: 1.9vw;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 1%;
}

.logo-block {
  position: absolute;
  top: 0;
  left: 50%;
  width: 15.5%;
  height: 300px;
  transform: translate(-50%, 0);
  font-size: 0;

}

.logo-block__left-text {
  @include inlineCenter();
  color: $text-color;
  width: 50%;
  font-size: 28px;
  line-height: 50px;
  background: $blue1;
}

.logo-block__right-text {
  @include inlineCenter();
  color: $text-color;
  width: 50%;
  font-size: 28px;
  line-height: 50px;
  background: $blue2;
}

.logo-block__logo {
  display: block;
  position: relative;
  background-image: url('../img/logo.png');
  height: 248px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.header__menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 13%;
  height: 20%;
  background: url('../img/burger-nav.png') no-repeat center;
  background-size: contain;
}

.header__txt {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  color: $white;
  text-align: center;
}

.header__txt-first {
  display: inline-block;
  font-size: 3.3vw;
  line-height: normal;
  border-bottom: 3px solid $white;
  margin: 0;
}

.header__txt-second {
  font-size: 4.4vw;
  line-height: 6vw;
  margin: 0;
}

.header__txt-third {
  font-size: 4.2vw;
  line-height: 5vw;
  margin: 0;
}


@media (max-width: $l) { // 992-1280px

}

@media (max-width: $m) { // 769-991px
  .header__text-left {
    width: 20%;
    font-size: 25px;
    padding: 20px 4.5%;
    line-height: normal;
    height: auto;
  }

  .logo-block {
    width: 30%;
  }

  .header__menu {
    width: 20%;
    height: 176px;
  }

  .logo-block__logo {
    display: none;
  }

  .header__txt {
    top: 93px;
  }
}


@media (max-width: $s) { // 375-768px
  .header__text-left {
    width: 55px;
    font-size: 10px;
    padding: 7.5px 10px;
    line-height: 10px;
  }

  .logo-block {
    width: 130px;
  }

  .logo-block__left-text {
    font-size: 18px;
    line-height: 26px;
  }

  .logo-block__right-text {
    font-size: 18px;
    line-height: 26px;
  }

  .header__menu {
    width: 55px;
    height: 55px;
    background-size: cover;
  }

  .header__txt {
    top: 9vw;
  }

  .header__txt-first {
    font-size: 27px;
    line-height: 27px;
  }

  .header__txt-second {
    font-size: 32px;
    line-height: 32px;
  }

  .header__txt-third {
    font-size: 29px;
    line-height: 29px;
  }
}