.points {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../img/inner-img.png");
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: 0 290px;
}

.points.pink-light35 {
  background-image: url("../img/inner-img.png");
}

.points.blue-light35 {
  background-image: url("../img/blue-inner-img.png");
  background-position: 0 490px;
}

.points.yellow-light35 {
  background-image: url("../img/yellow-inner-img.png");
}

.points__item-title {
  position: relative;
  font-size: 65px;
  line-height: 120px;
  color: $red;
}

.points__item-text {
  padding-bottom: 10px;
  font-size: 35px;
  line-height: 56px;
  color: $text-color;
}

.points__item {
  padding-right: 180px;
  margin-bottom: 20px;
}

.points__items-list {
  padding-right: 15px;
}

.points__item-title::before {
  content: '';
  position: absolute;
  left: 105%;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 100%;
}

.points__item_1 .points__item-title::before{
  background-image: url("../img/inner-doc-icon.png");
}

.points__item_1_black .points__item-title::before{
  background-image: url("../img/inner-doc-icon-black.png");
}

.points__item_2 .points__item-title::before{
  background-image: url("../img/inner-bad-icon.png");
}

.points__item_2_black .points__item-title::before{
  background-image: url("../img/inner-bad-icon-black.png");
}

.points__item_3 .points__item-title::before{
  background-image: url("../img/inner-good-icon.png");
}

.points__item_3_black .points__item-title::before{
  background-image: url("../img/inner-good-icon-black.png");
}

.points__item-text_list {
  color: $red;
}

.points__item-text_list span{
  color: $text-color;
}

@media (max-width: $l) {
  .points {
    padding-top: 30px;
    padding-bottom: 30px;
    background-size: 350px;
  }

  .points.blue-light35 {
    background-position: 0 230px;
  }

  .points__item-title {
    font-size: 45px;
    line-height: 90px;
  }

  .points__item-title::before{
    width: 90px;
    height: 90px;
  }

  .points__item-text {
    font-size: 25px;
    line-height: 40px;
  }

  .points__item {
    padding-right: 120px;
  }
}

@media (max-width: $m) {
  .points {
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: 250px;
  }

  .points__item-title {
    font-size: 30px;
    line-height: 60px;
  }

  .points__item-title::before{
    width: 60px;
    height: 60px;
  }

  .points__item-text {
    font-size: 20px;
    line-height: 30px;
  }

  .points__item {
    padding-right: 100px;
  }
}

@media (max-width: $s) {
  .points {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: none;
  }

  .points.blue-light35 {
    background-image: none;
  }

  .points.pink-light35 {
    background-image: none;
  }

  .points.yellow-light35 {
    background-image: none;
  }

  .points__item {
    padding-right: 65px;
    border-bottom: 1px solid $white;
  }

  .points__item:last-child {
    border-bottom: none;
  }

  .points__item-title {
    font-size: 22px;
    line-height: 45px;
  }

  .points__item-title::before{
    width: 45px;
    height: 45px;
  }

  .points__item-text {
    font-size: 16px;
    line-height: 22px;
  }

}