.social {
  display: none;
}

@media (max-width: $s) {
  .social {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: $skin;
  }

  .social__item {
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .social__item_1 {
    background-image: url("../img/social-icon-fb.png");
  }

  .social__item_2 {
    background-image: url("../img/social-icon-youtube.png");
    margin-left: 20px;
    margin-right: 20px;
  }

  .social__item_3 {
    background-image: url("../img/social-icon-3.png");
  }
}