.pink {
  background-color: $pink-1;
}

.pink-light70 {
  background-color: $pink-2;
}

.pink-light35 {
  background-color: $pink-3;
}

.blue {
  background-color: $page-blue-1;
}

.blue-light70 {
  background-color: $page-blue-2;
}

.blue-light35 {
  background-color: $page-blue-3;
}

.yellow {
  background-color: $yellow-1;
}

.yellow-light70 {
  background-color: $yellow-2;
}

.yellow-light35 {
  background-color: $yellow-3;
}

