.pink {
  background-color: $pink-1;
}

.pink-light70 {
  background-color: $pink-2;
}

.pink-light35 {
  background-color: $pink-3;
}

.pink-extraLight {
  background-color: $pink-4;
}


.blue {
  background-color: $page-blue-1;
}

.blue-light70 {
  background-color: $page-blue-2;
}

.blue-light35 {
  background-color: $page-blue-3;
}

.blue-extraLight {
  background-color: $page-blue-4;
}



.yellow {
  background-color: $yellow-1;
}

.yellow-light70 {
  background-color: $yellow-2;
}

.yellow-light35 {
  background-color: $yellow-3;
}

.yellow-extraLight {
  background-color: $yellow-4;
}

.green {
  background-color: $green-1;
}

.green-light70 {
  background-color: $green-2;
}

.green-light35 {
  background-color: $green-3;
}

.green-extraLight {
  background-color: $green-4;
}