
// colors
$white: white;
$pros-bg: rgba(255, 255, 255, 0.6);
$text-color: rgb(66, 65, 67);
$question-line: #424143;
$green-header: rgba(170, 194, 44, 0.7);
$green-button: #b9df40;
$blue1: #9bd4dc;
$blue2: #d2ecef;
$logo-bg: rgba(215, 205, 185, 0.83);
$skin: #fbf0da;
$blue-title: #004f70;
$red: rgba(239, 72, 94, 1);
$grey: rgba(112, 112, 112, 1);

$orange: #f4c971;
$pink: #ff97d6;

/*pink*/

$pink-1: rgba(255, 151, 214, 1);
$pink-2: rgba(255, 151, 214, 0.7);
$pink-3: rgba(255, 151, 214, 0.35);
$pink-4: #ffeff9;

/*blue*/
$page-blue-1: rgba(155, 212, 220, 1);
$page-blue-2: rgba(155, 212, 220, 0.7);
$page-blue-3: rgba(155, 212, 220, 0.35);
$page-blue-4: #f0f9fa;

/*yellow*/
$yellow-1: rgba(244, 201, 113, 1);
$yellow-2: rgba(244, 201, 113, 0.7);
$yellow-3: rgba(244, 201, 113, 0.35);
$yellow-4: #fdf7ea;

/*green*/
$green-1: rgba(185, 223, 64, 1);
$green-2: rgba(185, 223, 64, 0.7);
$green-3: rgba(185, 223, 64, 0.35);
$green-4: #fefdf9;


  //grid break-points
$l: 1280px;
$m: 992px;
$s: 768px;
$xs: 480px;


@mixin opensans($weight: 400, $size: 30px, $color: $text-color, $lHeight: 36px) {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  line-height: $lHeight;
}

@mixin mobileTitle () {
  font-size: 22px;
  line-height: 21px;
  font-weight: bold;
}

@mixin mobileText () {
  font-size: 16px;
  line-height: 20px;
}

@mixin trans($duration: 0.3s) {
  transition: all $duration ease-in-out;
}

@mixin center($x: 50%, $y: 50%) {
  position: absolute;
  top: $y;
  right: $x;
  transform: translate(-50%, -50%);
}

@mixin inlineCenter($x: center, $y: middle) {
  display: inline-block;
  text-align: $x;
  vertical-align: $y;
}