@import 'helpers';
@import 'header';
@import 'second-block';
@import 'pros';
@import 'person-block';
@import 'icons-block';
@import 'person-block';
@import 'accrdion-block';
@import 'reviews';


body {
  direction: rtl;
  @include opensans();
}

a:hover {
  cursor: pointer;
}

.wrapper {
  width: 88%;
  margin: 0 auto;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 39px;
  line-height: 80px;
  padding: 0 40px;
  border: none;
  background: $green-button;
}

.button_blue {
 background: $blue1;
}


@media (max-width: $l) { // 992-1280px
  .button {
    padding: 0 20px;
  }
}

@media (max-width: $m) { // 769-991px

}

@media (max-width: $s) { // 375-768px
  body {
    @include opensans(400, 16px, $text-color, 20px);
  }

  .button {
    font-size: 18px;
    line-height: 30px;
    padding: 0 13px;
  }
}

