@import 'helpers';
@import 'header';
@import 'contact-form';
@import 'second-block';
@import 'pros';
@import 'person-block';
@import 'icons-block';
@import 'person-block';
@import 'accrdion-block';
@import 'reviews';
@import 'social';


body {
  direction: rtl;
  @include opensans();
}

input,
button {
  outline: none;
}

.clearfix {
  display: table;
  content: '';
  clear: both;
}

a:hover {
  cursor: pointer;
}

.wrapper {
  width: 88%;
  margin: 0 auto;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 39px;
  line-height: 80px;
  padding: 0 40px;
  border: none;
  background: $green-button;
}

.button_blue {
 background: $blue1;
}

.video-container {
  width: 100%;
  height: auto;
  position: relative;
}

.video-container__video {
  width: 100%;
  height: auto;
  display: block;
}

.videocover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0; }

.videocover:hover {
  cursor: pointer;
}

.video-container__button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 113px;
  height: 113px;
  background: url('../img/play-button.png') no-repeat center;
  border: none;
}

.video-container__button_main {
  top: 70%;
}

@media (max-width: $l) { // 992-1280px
  .button {
    padding: 0 20px;
  }
}

@media (max-width: $m) { // 769-991px
  .video-container__button_main {
    top: 65%;
  }
}

@media (max-width: $s) { // 375-768px
  body {
    @include opensans(400, 16px, $text-color, 20px);
  }

  .button {
    font-size: 18px;
    line-height: 30px;
    padding: 0 13px;
  }

  .video-container__button {
    background: url('../img/play-button_min.png') no-repeat center;
    width: 39px;
    height: 39px;
  }
}

@media (max-width: $xs) {
  .video-container__button {
    top: 69%;
  }

}


